@import url(reset.css);
@import url(colors.css);
@import url(base.css);

/* ===== CONTENEDOR GENERAL ===== */

.how-it-works {
    background-color: var(--bg-surface);
    padding-bottom: 3rem;
}

/* ===== ENCABEZADO ===== */

.hiw-header {
    text-align: center;
    padding: 3rem 1rem 2rem;
}

.hiw-header h1 {
    font-size: 2.4rem;
    color: var(--brand-primary);
    font-weight: 700;
}

.hiw-header p {
    color: var(--text-secondary);
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

/* ===== INDICADORES DE PASOS ===== */

.hiw-steps {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.step-number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--bg-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--text-secondary);
}

.step-number.active {
    background: var(--brand-primary);
    color: var(--text-on-primary);
}

/* ===== TARJETA PRINCIPAL ===== */

.hiw-card {
    width: 60%;
    margin: 2rem auto;
    border-radius: 20px;
}

.hiw-card-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hiw-card-content>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap
}

.hiw-card h2 {
    color: var(--text-primary);
    font-weight: 700;
}

.hiw-card .subtitle {
    color: var(--text-secondary);
    margin-bottom: 1.5rem;
}

/* ===== LISTA ===== */

.hiw-list div {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: var(--brand-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.25rem;
}

.hiw-list li {
    display: flex;
    align-items: start;
    gap: 0.75rem;
}

.tab-switch {
    text-align: center;
    display: flex;
    border-radius: 25px;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.tab-btn {
    padding: 12px 18px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background: none;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--bg-surface);
    color: var(--text-secondary);
}

.tab-btn.active {
    background-color: var(--brand-primary);
    color: var(--text-primary);
}