/*Importamos los css necesarios en el orden correcto, para evitar importar en el html varios*/
@import url(reset.css);
@import url(colors.css);
@import url(base.css);
@import url(layout.css);
@import url(theme.css);